/* ---Carousel --- */
.carousel {
  width: 100vw;
  height: 70vh;
  margin-top: 15vh;
  position: relative;
  // background-color: blue;
  overflow: hidden;
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 0;
}
.slide.current {
  opacity: 1;
  z-index: 1;
}

// content ---
.slide .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.content {
  width: 40%;
}
.content h3 {
  margin-top: 4rem;
}
.content button {
  margin-top: 5rem;
  width: auto;
  height: 5rem;
  padding: 1.5rem 2.5rem;
  border: none;
  background-color: $special;
  border-radius: 0.8rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
}
.content button:hover {
  background-color: #cf181e;
}

.next {
  border: none;
  position: absolute;
  top: 50%;
  right: 0%;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  padding: 0.2rem 2rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  background: #ffc002;
  border-radius: 50%;
  z-index: 2;
  &:focus {
    outline: none;
  }
}

.slide:first-child {
  background: url("../Images/banner_01.jpg") no-repeat center top/cover;
  object-fit: cover;
}
.slide:nth-child(2) {
  background: url("../Images/banner_02.jpg") no-repeat center top/cover;
  object-fit: cover;
}
.slide:nth-child(3) {
  background: url("../Images/banner_03.jpg") no-repeat center top/cover;
  object-fit: cover;
}

// -- Responsive ----------------------------

// max 11420px ---------------------------
@media screen and (max-width: 1142px) {
  .content h1 {
    font-size: 2.6rem;
  }
  .content h3 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .content button {
    height: 4rem;
    font-size: 1.6rem;
    margin-top: 2rem;
    padding: 1rem;
  }
}

// max 900px ---------------------------
@media screen and (max-width: 900px) {
  //-- Slide content ---

  .slide .container {
    align-items: flex-start;
  }
  .content {
    width: 50%;
  }
  .content h1 {
    font-size: 2.6rem;
  }
  .content h3 {
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .content button {
    height: 4rem;
    font-size: 1.6rem;
    margin-top: 1.6rem;
    padding: 1rem;
  }
  .next {
    top: 40%;
  }
}

// max 548px---------------------------
@media screen and (max-width: 548px) {
  //-- Slide content ---

  // .slide .container {
  //   align-items: flex-start;
  // }
  .content {
    width: 70%;
  }
  .content h1 {
    font-size: 2.4rem;
  }
  .content h3 {
    margin-top: 1.2rem;
    font-size: 1.6rem;
  }
  .content button {
    height: 4rem;
    font-size: 1.2rem;
    margin-top: 1.2rem;
    padding: 1rem;
  }
  .next {
    top: 40%;
  }
}

// max 425px ---
@media screen and (max-width: 426px) {
  .content {
    width: 65%;
  }
  .content h1 {
    font-size: 1.8rem;
  }
  .content h3 {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
  .content button {
    height: 4rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.8rem;
  }
}
