.scroll {
  width: 100vw;
  height: auto;
  margin-bottom: 8rem;
}
.scroll-wrapper {
  display: flex;
  width: 100%;
}

// ------scroll -----------------

//--animate ---
.animate-product {
  width: 50%;
  // height: 50rem;
  // background-color: violet;
  z-index: 2;
  // margin-right: -8%;
  // position: relative;
  overflow: hidden;
}
.animate {
  margin-top: 6rem;
  margin-left: -30rem;
  // position: absolute;
  // top: 25%;
  // left: -60%;
}

//--content scroll ---
.scroll-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5%;
  // height: 50rem;
  background-color: #4c296f;
  z-index: 1;
}
.scroll-content-wrapper {
  width: 60%;
}
.scroll-content-wrapper h2,
.scroll-content-wrapper p {
  color: #ffffff;
}
.scroll-content-wrapper h2 {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.scroll-content-wrapper .capacity {
  color: #ffffff;
}
.scroll-content-wrapper .round-container .round {
  border-color: #ffffff;
  background-color: #371d52;
}
.scroll-content-wrapper button {
  cursor: pointer;
  font-family: "rio-bold";
  font-size: 1.6rem;
  background-color: #ffffff;
  width: auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
  padding: 1.5rem 1.8rem;
  border: none;
  border-radius: 0.8rem;
  color: #4c296f;
  &:hover {
    background-color: #371d52;
  }
}

// -- Responsive ----------------------------

// max 768px---------------------------
@media screen and (max-width: 768px) {
  .scroll-wrapper {
    flex-direction: column;
  }

  //-- scroll ---
  .animate-product {
    margin-bottom: -8rem;
    width: 100%;
  }
  .animate {
    margin-left: -35rem;
  }

  //-- product content ---
  .scroll-content {
    margin-left: 0;
    width: 100%;
  }
  .scroll-content-wrapper {
    text-align: center;
  }
  .scroll-content-wrapper .capacity {
    text-align: center;
  }
}

// max 425px---------------------------
@media screen and (max-width: 425px) {
  .scroll .container {
    width: 100vw;
  }

  .animate {
    margin-left: -80rem;
  }

  //-- Content ---
  .scroll-content-wrapper {
    width: 80%;
  }
  .scroll-content-wrapper h2 {
    font-size: 2.4rem;
  }
  .scroll-content-wrapper p {
    font-size: 1.4rem;
  }
  .round-container {
    margin: auto;
  }
}
