.whychoose {
  width: 100vw;
  height: 50rem;
  margin-top: 8rem;
}

.whychoose-wrapper {
  background: url(../images/why_choose.png) no-repeat center top/cover;
  width: 90%;
  height: 100%;
  margin: auto;
  border-radius: 2rem;
}

.whychoose-content {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whychoose-content h1,
.whychoose-content h3 {
  text-align: center;
  z-index: 2;
  color: #ffffff;
}

.whychoose-content h1 {
  margin-bottom: 2rem;
}
.whychoose-content button {
  margin-top: 4rem;
}

// -- Responsive ----------------------------

// max 425px---------------------------
@media screen and (max-width: 425px) {
  .whychoose {
    height: auto;
    margin-top: 0rem;
  }

  .whychoose-wrapper {
    width: 100%;
    border-radius: 0rem;
  }

  .whychoose-content {
    width: 80%;
  }

  .whychoose-content h1 {
    margin-top: 5rem;
    font-size: 2.2rem;
  }

  .whychoose-content h3 {
    font-size: 1.3rem;
  }

  .whychoose-content button {
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 1.5rem 2.5rem;
    font-size: 1.4rem;
  }
}
